@charset "gb2312";
* {
    margin: 0;
    padding: 0;
}
body, div, dl, dt, dd, ul, ol, li, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, input, textarea, blockrightote, th, td {
    margin: 0;
    padding: 0;
}
table {
    border-collapse: collapse;
    font-size: 14px;
}
img {
    border: 0 none;
}
input, textarea, select, button {
    font-size: 14px;
    padding: 1px;
    vertical-align: middle;
}
ol, ul {
    list-style: outside none none;
}
caption, th {
    text-align: left;
}
cite, em {
    font-style: normal;
}
button {
    cursor: pointer;
}
body {
    color: #474747;
    font-family: microsoft yahei,Verdana;
    line-height: 22px;
}
textarea, input, select, body {
    font-size: 14px;
}
h1, h2 {
    font-size: 14px;
}
h3, h4, h5, h6, p, ol, ul, li, dl, dd {
    font-size: 14px;
}
fieldset, form {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    margin: 0;
    padding: 0;
}
.clear {
    clear: both;
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
a {
    color: rgba(0,0,0,0.5);
    text-decoration: none;
}
a:hover {
    color:rgba(0,0,0,1);
}
ul, li, dt, dl, dd {
    display: block;
}
td {
    vertical-align: top;
}
.middle{ 
	width:960px; 
	margin:0 auto; 
	padding:20px 65px 20px 20px; 
	position:relative;
	min-height:1500px;
	background:#E5F3F7;
}

.main_left {
    float: left;
    width: 640px;
}
.title {
    background: rgba(0,0,0,0) url("") repeat-x scroll 0 0;
    margin-top: 12px;
}
.title p {
    background: rgba(0, 0, 0, 0) url("../images/biaoti.png") no-repeat scroll 0 0;
    color: #fff;
    font: bold 16px/28px microsoft yahei,verdana;
    height: 28px;
    margin: 0 auto;
    text-align: center;
    text-shadow: 0 1px 0 #272727;
    width: 197px;
}
.main_theme {
    background: rgba(0, 0, 0, 0) url("http://icon.zdnet.com.cn/cnetnews/120504/images/eex_14.gif") repeat-x scroll left bottom;
    padding: 10px 0 0 60px;
    width: auto;
}
.main_theme li {
    color: #768696;
    cursor: pointer;
    float: left;
    font: bold 16px/32px microsoft yahei,verdana;
    padding: 0 20px 6px;
}
.main_theme li.on {
    background: rgba(0, 0, 0, 0) url("http://icon.zdnet.com.cn/cnetnews/120504/images/eex_13.gif") no-repeat scroll center bottom;
}
.main_theme li.on a {
    color: #8d0000;
}
.content {
    background: rgba(0, 0, 0, 0) url("http://icon.zdnet.com.cn/cnetnews/120504/images/bkg-highlight-620.png") no-repeat scroll center 0;
    border-top: 1px solid #e8e8e8;
    padding-bottom: 40px;
    width: 640px;
}
.content li {
    border-bottom: 1px solid black;
    padding: 14px 0;
    position: relative;
    width: 640px;
}
.content li p.main_content {
    float: left;
    width: 570px;
}
.content li p.main_content img {
    border: 1px solid #474747;
    float: left;
    margin: 6px 16px 6px 0;
}
.content li p.main_content b {
    font: bold 18px/1.8 microsoft yahei,verdana;
}
.content li p.main_content a {
}
.content li p.main_content b a {
    color: #474747;
}
.content li p.main_content span {
    display: block;
    padding-top: 4px;
}
.content li p.main_content span a {
    color: #878787;
    padding: 0 4px;
}
.content li p.right_fe {
    float: right;
    padding: 30px 0 0;
}
.mroe {
    text-align: center;
}
.loadMore {
    background: none repeat scroll 0 0%, transparent -moz-linear-gradient(center top , #d7d8d9 0pt, #aaaaab 100%) repeat scroll 0 0;
    border: 1px solid #a7a7a8;
    box-shadow: 0 1px 0 #8b8b90, 0 1px 0 0 rgba(255, 255, 255, 0.4) inset;
    color: #39434c;
    cursor: pointer;
    padding: 5px 0 3px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.65);
}
.loadMore:hover {
    background: none repeat scroll 0 0%, transparent -moz-linear-gradient(center top , #d7d8d9 0pt, #b9b9ba 100%) repeat scroll 0 0;
    text-decoration: none;
}
.loadMore span {
    background: url("http://icon.zdnet.com.cn/cnetnews/120504/images/icon-sprite.png") no-repeat scroll left 1px, transparent url("http://icon.zdnet.com.cn/cnetnews/120504/images/icon-sprite.png") no-repeat scroll right 1px;
    font-weight: bold;
    padding: 0 40px 5px;
}
.main_right{ 
	width:300px; 
	float:right;
}
.ads300 {
    text-align: center;
}

.right_list {
    padding: 52px 0 0;
    width: 300px;
}
.right_list li {
    background: rgba(0, 0, 0, 0) url("") no-repeat scroll 0 15px;
    font: 14px/1.5 microsoft yahei,verdana;
    padding: 4px 0 4px 12px;
}

.right_more {
    padding-bottom: 12px;
    text-align: right;
}
.right_more a {

}
.right_video_list_bg {
    background: transparent url("http://icon.zdnet.com.cn/cnetnews/new_css/images/xio_49.jpg") repeat-x scroll left top;
    margin: 0 10px;
    padding: 3px 0 0;
}
.right_vid {
    border-bottom: 1px solid #e8e8e8;
    padding: 12px 0 10px;
    width: 300px;
}
.right_vid li {
    float: left;
    padding: 0 15px;
    width: 120px;
}
.right_vid li p {
    text-align: left;
}
.right_iidt {
    width: 300px;
}
.right_iidt li {
    clear: both;
    padding: 14px 0 0;
    width: 300px;
}
.right_iidt li img {
    float: left;
}
.right_iidt li p {
    float: right;
    width: 215px;
}
.right_iidt li p span {
    font-weight: bold;
}
.right_iidt li p a {
}
.right_iid08t {
    border-bottom: 1px solid #e8e8e8;
    width: 300px;
}
.right_iid08t li {
    clear: both;
    padding: 14px 0 12px;
    width: 300px;
}
.right_iid08t li img {
    float: left;
}
.right_iid08t li p {
    float: right;
    font-size: 14px;
    font-weight: bold;
    width: 170px;
}
.right_keyd {
    padding: 12px 10px;
    width: 280px;
}
.right_keyd li {
    float: left;
    line-height: 24px;
    padding: 0 5px;
    white-space: nowrap;
}
.right_keyd li.tag_pop_2 {
    font-size: 14px;
    font-weight: bold;
}
.right_keyd li.tag_pop_3 {
    font-size: 16px;
    font-weight: bold;
}
.right_keyd li.tag_pop_4 {
    font-size: 18px;
    font-weight: bold;
}
.right_rss_list {
    background: rgba(0, 0, 0, 0) url("http://icon.zdnet.com.cn/cnetnews/120504/images/ex_27.jpg") no-repeat scroll 0 0;
    height: 112px;
    padding: 0 10px 12px;
    width: 280px;
}
.right_rss_list li {
    background: transparent url("http://icon.zdnet.com.cn/cnetnews/new_css/images/xni_70.jpg") no-repeat scroll 0 4px;
    float: left;
    font-weight: bold;
    height: 24px;
    overflow: hidden;
    padding: 4px 0 0 26px;
    width: 113px;
}
.right_rss_list p {
    font-size: 14px;
    font-weight: bold;
    line-height: 32px;
}
.right_link_frame {
    border: 1px solid #e8e8e8;
    margin-bottom: 12px;
    margin-top: 12px;
    padding: 10px;
    width: 938px;
}
.right_fenge_frame {
    background: transparent url("http://icon.zdnet.com.cn/cnetnews/new_css/images/xd_74.jpg") no-repeat scroll 0 0;
    height: 18px;
    margin: 0 auto;
    overflow: hidden;
    width: 982px;
}
.right_li_p {
    font-size: 14px;
    font-weight: bold;
    padding: 10px 0 0 12px;
}
.right_ul_l {
    border-bottom: 1px solid #e8e8e8;
    margin: 0 auto;
    padding: 0 0 6px 12px;
    width: 906px;
}
.right_ul_l li {
    float: left;
    height: 17px;
    padding: 4px 4px 0;
    white-space: nowrap;
}
.right_flo {
    background: rgba(0, 0, 0, 0) url("http://icon.zdnet.com.cn/cnetnews/120504/images/bf.png") repeat scroll 0 0;
}
.right_ids {
    background: rgba(0, 0, 0, 0) url("http://icon.zdnet.com.cn/cnetnews/120504/images/ex_30.jpg") repeat-x scroll left bottom;
    margin: 0 auto;
    padding-bottom: 12px;
    width: 960px;
}
.right_footer_p_r {
    float: right;
    padding: 15px 12px 0 0;
}
.right_copy_p {
    color: #fff;
    padding: 15px 0 0 12px;
}
.right_copy_p a {
    color: #fff;
}
.rbFooterMap {
    background: transparent url("http://icon.zdnet.com.cn/cnetnews/120504/images/rb-logo-footer-pattern.jpg") no-repeat scroll center bottom;
    margin: 0 auto;
    padding: 20px 0 170px;
    width: 980px;
}
.rbFooterMap ul.first {
    margin: 0 10px 0 20px;
}
.rbFooterMap ul {
    float: left;
    margin: 0 10px;
    min-height: 180px;
    width: 140px;
}
.rbFooterMap ul li.hed {
    color: #b7b7b7;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.2em;
    margin-bottom: 10px;
}
.rbFooterMap ul li a {
    color: #fff;
}
.right_weizhi a {
    color: #2964bf;
}
.right_ti {
    font: bold 26px/34px microsoft yahei,simsun;
    padding: 30px 0;
}
.right_zuoc {
    background: rgba(0, 0, 0, 0) url("http://icon.zdnet.com.cn/cnetnews/120504/images/rrx_03.gif") no-repeat scroll 0 0;
    height: 65px;
    margin: 0 auto;
    width: 627px;
}
.right_zuoc p.right_toux {
    float: left;
    padding: 8px 0 0 14px;
    width: 50px;
}
.right_zuoc p.right_zuc {
    padding: 8px 0 0;
    width: 549px;
}
.W_btn_b, .W_btn_b span, .W_btn_b_disable, .W_btn_b_disable span {
    background: transparent url("http://icon.zdnet.com.cn/cnetnews/120504/images/ew.gif") no-repeat scroll 0 0;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    height: 22px;
    line-height: 20px;
    padding: 0 0 0 2px;
}
.W_btn_b span, .W_btn_b_disable span {
    background-position: center 0;
    min-width: 34px;
    padding: 0 10px 0 0;
    text-align: center;
}
.right_content_div {
    padding-top: 20px;
}
.right_content_div, .right_content_div p {
    font: 16px/28px microsoft yahei,verdana;
    margin-bottom: 20px;
}
.right_content_div h2 {
    font: bold 18px/28px microsoft yahei,verdana;
    margin-bottom: 20px;
}
.yayaa {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #e8e8e8;
    border-image: none;
    border-style: solid;
    border-width: 1px 0;
    margin-top: 20px;
    padding: 12px 0;
    width: 640px;
}
.yayaa a {
    padding: 0 6px;
}
.yayaa a img {
    vertical-align: middle;
}
.right_xiangg {
    background: #f5f5f5 url("http://icon.zdnet.com.cn/cnetnews/120504/images/dss_07.gif") repeat-x scroll 0 0;
    border: 1px solid #e3e3e3;
    padding: 0 20px 20px;
    width: 598px;
}
.right_xiangg p {
    font-size: 14px;
    font-weight: bold;
    height: 28px;
    padding: 12px 0 0;
}
.main_contenta {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e3e3e3;
    padding: 10px;
    width: 576px;
}
.main_contenta li {
    background: transparent url("http://icon.zdnet.com.cn/cnetnews/120504/images/eex_15.gif") no-repeat scroll 0 11px;
    float: left;
    height: 22px;
    overflow: hidden;
    padding: 2px 7px 2px 11px;
    width: 270px;
}
.clearfloat {
    clear: both;
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
.right_pinlunbg {
    background: #d8d8d8 none repeat scroll 0 0;
    border: 1px solid #b7b7b7;
    margin-top: 16px;
    width: 638px;
}
.right_pinlunbor {
    background: #d8d8d8 none repeat scroll 0 0;
    border: 1px solid #b7b7b7;
    width: 638px;
}
.right_ptit {
    background: rgba(0, 0, 0, 0) url("http://icon.zdnet.com.cn/techzone/css/b_product/images/right_bi.gif") repeat-x scroll 0 0;
    border-bottom: 1px solid #b7b7b7;
    color: #323432;
    font-weight: bold;
    height: 19px;
    padding: 7px 0 0 12px;
}
.right_plistb {
    padding: 5px;
    width: 628px;
}
.right_pinlunlisttit {
    background: rgba(0, 0, 0, 0) url("http://icon.zdnet.com.cn/techzone/css/b_product/images/qix_05.gif") repeat-x scroll 0 0;
    height: 25px;
    overflow: hidden;
}
.right_pinluti01 li.right_li93 {
    background: rgba(0, 0, 0, 0) url("http://icon.zdnet.com.cn/techzone/css/b_product/images/qix_03.gif") no-repeat scroll right top;
    color: #747474;
    float: left;
    height: 18px;
    padding: 7px 0 0 20px;
    width: 63px;
}
.right_pinluti01 li.right_li94 {
    color: #919191;
    float: left;
    font-weight: bold;
    padding: 4px 0 0;
    text-align: center;
    width: 290px;
}
.right_pinluti01 li.right_li94 span {
    color: #cc6600;
    padding: 0 5px;
}
.right_pinluti01 li.right_li95 {
    float: right;
    font-weight: bold;
    padding: 4px 0 0;
    width: 158px;
}
.right_pinluti01 li.right_li95 a {
    color: #3366cc;
}
.right_bg_with {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #fff none repeat scroll 0 0;
    border-color: #b7b7b7;
    border-image: none;
    border-style: solid;
    border-width: 0 1px 1px;
    padding: 5px;
    width: auto;
}
.right_p_list_tit {
    background: rgba(0, 0, 0, 0) url("http://icon.zdnet.com.cn/techzone/css/b_product/images/spo_10.gif") repeat-x scroll 0 0;
    height: 31px;
    line-height: 18px;
    overflow: hidden;
    width: 616px;
}
.right_p_list_tit_left {
    border-right: 1px solid #d8d8d8;
    color: #625f5f;
    float: left;
    height: 23px;
    padding: 8px 0 0;
    text-align: center;
    width: 83px;
}
.right_p_list_tit_mid {
    border-right: 1px solid #d8d8d8;
    color: #625f5f;
    float: left;
    height: 23px;
    padding: 8px 0 0;
    text-align: center;
    width: 430px;
}
.right_p_list_tit_right {
    color: #625f5f;
    float: left;
    height: 23px;
    padding: 8px 0 0;
    text-align: center;
    width: 100px;
}
.right_p_list_tit_loop {
    border-bottom: 1px solid #d8d8d8;
    height: 31px;
    line-height: 20px;
    overflow: hidden;
    width: 576px;
}
.right_p_list_tit_loop_left {
    border-right: 1px solid #d8d8d8;
    color: #625f5f;
    float: left;
    height: 23px;
    padding: 8px 0 0;
    text-align: center;
    width: 83px;
}
.right_p_list_tit_loop_mid {
    border-right: 1px solid #d8d8d8;
    color: #625f5f;
    float: left;
    height: 23px;
    line-height: 20px;
    overflow: hidden;
    padding: 8px 0 0 8px;
    width: 381px;
}
.right_p_list_tit_loop_right {
    color: #cfc9c9;
    float: left;
    height: 23px;
    padding: 8px 0 0;
    text-align: center;
    width: 100px;
}
.right_pinglun_say {
    padding: 6px 0 0;
    width: 616px;
}
.right_pin_tit {
    background: rgba(0, 0, 0, 0) url("http://icon.zdnet.com.cn/techzone/css/b_product/images/pi_14.gif") repeat-x scroll 0 0;
    height: 22px;
    padding: 8px 0 0 16px;
}
.right_pin_name {
    height: 40px;
}
.right_pin_name_left {
    float: left;
    font-weight: bold;
    height: 29px;
    padding: 11px 0 0 9px;
    width: 53px;
}
.right_pin_name_left input {
    margin-right: 3px;
    vertical-align: middle;
}
.right_pin_name_mid {
    float: left;
    font-weight: bold;
    height: 29px;
    padding: 11px 0 0;
}
.right_pin_name_mid input {
    margin-right: 3px;
    vertical-align: middle;
}
.right_pin_name_left_r {
    float: left;
    font-weight: bold;
    height: 29px;
    padding: 11px 0 0;
    width: 110px;
}
.right_pin_name_left_r input {
    margin-right: 3px;
    vertical-align: middle;
}
.right_pin_name_right {
    background: #fff none repeat scroll 0 0;
    float: left;
    height: 30px;
    padding: 11px 0 0;
    vertical-align: middle;
}
.right_pin_name_right_left {
    float: left;
    height: 30px;
    line-height: 20px;
    padding: 0 0 0 8px;
    vertical-align: middle;
}
.right_pin_name_right_left input {
    border: 1px solid #bcbcbc;
    height: 19px;
    vertical-align: middle;
    width: 50px;
}
.right_pin_name_right_mid {
    float: left;
    height: 30px;
    padding: 10px 0 0;
    text-align: right;
}
.right_pin_name_right_mid input {
    border: 1px solid #bcbcbc;
    height: 19px;
    vertical-align: middle;
    width: 50px;
}
.right_pin_name_right_right {
    float: left;
    height: 30px;
    padding: 10px 0 0;
    text-align: center;
    width: 122px;
}
.right_pin_name_right_right input {
    margin-right: 8px;
    vertical-align: middle;
}
.right_pin_name_right_right a {
    text-decoration: underline;
}
.right_inputbg {
    height: 144px;
    margin-top: 4px;
}
.right_inputbg textarea {
    border: 1px solid #bcbcbc;
    height: 140px;
    width: 614px;
}
.right_logi {
    height: 30px;
    padding: 8px 0 0;
}
.right_logi_left {
    float: left;
    padding-left: 10px;
}
.right_logi_left input {
    border: 1px solid #bcbcbc;
    height: 17px;
    margin: 0 4px;
    vertical-align: middle;
    width: 56px;
}
.right_logi_right {
    float: right;
    width: 100px;
}
.right_logi_right input {
    background: #d8d8d8 none repeat scroll 0 0;
    border: 1px solid #a5a5a5;
    height: 26px;
    width: 97px;
}
.right_gongneng_div_y {
    margin-top: 5px;
    padding: 0 0 0 8px;
}
.right_pin_name_left_y {
    float: left;
    font-weight: bold;
    height: 29px;
    padding: 11px 0 0 9px;
    width: 100px;
}
.right_pin_name_mid_y {
    float: left;
    font-weight: bold;
    height: 29px;
    padding: 11px 10px 0 0;
}
.right_pin_name_right_y {
    background: #fff none repeat scroll 0 0;
    float: right;
    font-weight: bold;
    height: 30px;
    padding: 11px 0 0;
    vertical-align: middle;
}
.right_vid02 {
    border-bottom: 1px solid #e8e8e8;
    padding: 12px 0 10px;
    width: 300px;
}
.right_vid02 li {
    height: 70px;
    padding: 0 0 12px;
    width: 300px;
}
.right_vid02 li img {
    border: 1px solid #000;
    float: left;
    margin-right: 12px;
}
#allCatDropDown {
    background: #fff none repeat scroll 0 0;
    border: 4px solid #2a2a2c;
    margin: 0;
    padding: 0 8px;
    position: absolute;
    right: 200px;
    top: -3px;
    width: 100px;
    z-index: 99999;
}
#allCa {
    background: #fff none repeat scroll 0 0;
    border: 4px solid #2a2a2c;
    left: 100px;
    margin: 0;
    padding: 0 8px;
    position: absolute;
    top: -3px;
    width: 120px;
    z-index: 99999;
}
#allCatCrazy {
    background: #fff none repeat scroll 0 0;
    border: 4px solid #2a2a2c;
    left: 433px;
    margin: 0;
    padding: 0 8px;
    position: absolute;
    top: -3px;
    width: 110px;
    z-index: 99999;
}
.right_more_ul li {
    border-bottom: 1px solid #f5f5f5;
    display: block;
    height: 26px;
    margin-right: 2px;
}
.right_more_ul {
    padding: 8px 0;
}
.right_more_ul li a {
    color: #3b6285;
    display: block;
    height: 22px;
    padding: 4px 1px 0 12px;
    white-space: nowrap;
}
.right_more_ul li a:hover {
    background: #f5f5f5 none repeat scroll 0 0;
    border-color: #f5f5f5;
    border-style: none none solid;
    border-width: medium medium 1px;
    color: #880000;
    display: block;
    text-decoration: none;
}
.right_text_link {
    padding: 0 0 8px;
    width: 968px;
}
.right_text_link li {
    float: left;
    height: 12px;
    line-height: normal;
    padding: 0 8px 6px 9px;
}
.right_text_link li a {
    color: #8c0000;
}
.right_jjs {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #dcdcdc;
    margin: 20px auto 0;
    width: auto;
}
.right_xd {
    background: #f1f1f1 none repeat scroll 0 0;
    border-bottom: 2px solid #dcdcdc;
    height: 25px;
    padding: 5px 12px 0;
}
.right_xd span {
    float: right;
    font-size: 12px;
}
.right_xd span a {
    text-decoration: underline;
}
.right_xd b span {
    color: #900;
    float: none;
    padding-right: 4px;
}
.m_5 {
    padding: 12px 0 10px;
    width: auto;
}
.m_5 ul {
    border-right: 1px solid #dcdcdc;
    float: left;
    padding: 0 10px;
    width: 298px;
}
.m_5 ul li.act, .m_5 ul li.act a {
    color: #ff0000;
}
.m_5 ul li {
    height: 22px;
    line-height: 22px;
    overflow: hidden;
}
.m_5 ul.nobor {
    border: medium none;
}
.right_fenye_div {
    margin: 12px 0 20px;
    text-align: right;
    width: auto;
}
.right_fenye_div p {
    float: right;
    font-size: 14px;
}
.right_fenye_div p a {
    text-decoration: underline;
}
.right_fenye_div form {
    float: left;
}
.right_imgx img, .right_jib img, .right_jjx img, .right_conr img, .right_loopbd img, .compareUnit img {
    border: 1px solid #474747;
}
.heading {
    background: transparent url("http://icon.zdnet.com.cn/special/test/tu/zdnet/images/pu.png") repeat-x scroll 0 -40px;
    color: #961515;
    font-size: 16px;
    margin-bottom: 10px;
}
.heading .int {
    background: #ffffff none repeat scroll 0 0;
    padding-right: 10px;
}
.heading .int a {
    color: #961515;
    font-size: 16px;
    font-weight: bold;
}
.right_ibs {
    margin-bottom: 20px;
    width: 640px;
}
.right_ibs li {
    float: left;
    overflow: hidden;
    padding: 0 20px 0 0;
    width: 140px;
}
.right_ibs li.end {
    padding: 0;
}
.right_ibs li .thumb {
    display: block;
    margin: 0 0 10px;
    max-height: 105px;
    max-width: 100%;
    position: relative;
    z-index: 2;
}
.thumb {
    display: inline-block;
    max-width: 100%;
    position: relative;
    z-index: 2;
}
.thumb::after {
    bottom: 9px;
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.3);
    content: "";
    height: 9%;
    position: absolute;
    right: 4%;
    transform: rotate(3deg);
    width: 70%;
    z-index: -1;
}
.thumb::before {
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.2) inset, 0 0 40px rgba(0, 0, 0, 0.05) inset;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 3;
}
.right_ibs li p {
    line-height: 1.5;
}
.right_taewn {
    bottom: 0;
    display: block;
    position: fixed;
    width: 100%;
    z-index: 9999;
}
.right_taewn02 {
    bottom: 308px;
    display: block;
    position: absolute;
    width: 100%;
    z-index: 9999;
}
.right_ti90 {
    margin: 0 auto;
    padding: 0 0 0 10px;
    position: relative;
    width: 970px;
}
.catfishBar {
    background: rgba(0, 0, 0, 0) url("http://icon.zdnet.com.cn/cnetnews/120504/images/hu_03.png") no-repeat scroll 0 0;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    height: 34px;
    position: relative;
    width: 620px;
}
.right_lo {
    display: block;
    float: left;
    height: 35px;
    width: 72px;
}
.right_wib {
    background: rgba(0, 0, 0, 0) url("http://icon.zdnet.com.cn/zdnet/new121023/images/bg.png") no-repeat scroll 16px -263px;
    color: #474747;
    float: left;
    line-height: normal;
    margin-top: 10px;
    padding: 0 0 0 36px;
    width: 214px;
}
.right_wib a {
    color: #474747;
    padding: 0 2px;
}
.close {
    display: block;
    float: right;
    height: 35px;
    width: 22px;
}
.right_ling {
    color: #cccccc;
    float: right;
    font: 12px/35px Georgia,serif;
    padding-right: 6px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.7);
    width: 65px;
}
.right_ling a {
    color: #cccccc;
}
.right_link {
    float: left;
    height: 35px;
    overflow: hidden;
    padding: 0 0 0 14px;
    width: 176px;
}
.right_link li {
    color: #cccccc;
    font: 12px/35px Georgia,serif;
    height: 35px;
    overflow: hidden;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.7);
}
.right_link li a {
    color: #cccccc;
}
.right_xichan {
    background: #f5f5f5 url("http://icon.zdnet.com.cn/cnetnews/120504/images/dss_07.gif") repeat-x scroll 0 0;
    border: 1px solid #e3e3e3;
    margin-top: 16px;
    padding: 0 12px 12px;
    width: auto;
}
.right_xichan h2 {
    font: bold 12px/3 arial;
    padding: 0 0 0 12px;
}
.right_chul {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #f5f5f5;
    padding: 10px;
    width: 592px;
}
.right_chul li.l_img {
    float: left;
    width: 200px;
}
.right_chul li.n_t {
    color: #000000;
    float: left;
    font: bold 18px/1.6 "微软雅黑",simsun;
    width: 392px;
    word-break: break-all;
}
.right_chul li.p_t {
    float: left;
    width: 392px;
}
.right_chul li.p_t span.com-core {
    background: transparent url("http://icon.zdnet.com.cn/cnetnews/120504/images/com_02.gif") repeat scroll 0 0;
    height: 65px;
    margin-bottom: 15px;
}
.right_chul li.p_t span.comgood {
    background: transparent url("http://icon.zdnet.com.cn/cnetnews/120504/images/com_01.gif") repeat scroll 0 0;
    color: #ffffff;
    float: left;
    font-size: 22px;
    font-weight: bold;
    height: 47px;
    line-height: 47px;
    margin: 8px 10px;
    text-align: center;
    width: 70px;
}
.right_chul li.p_t span.comgood-a1 {
    float: left;
    margin: 25px 0;
    width: 50px;
}
.right_chul li.p_t span.comgood-a {
    background: transparent url("http://icon.zdnet.com.cn/cnetnews/120504/images/com_ping_bg.gif") no-repeat scroll right center;
    float: left;
    height: 14px;
    margin: 0 0 10px;
    position: relative;
    width: 181px;
}
.right_chul li.p_t span.c-hr {
    background: transparent url("http://icon.zdnet.com.cn/cnetnews/120504/images/com_03.gif") no-repeat scroll center center;
    float: left;
    height: 60px;
    padding: 0 40px;
    width: 2px;
}
.right_chul li.p_t span.comgood-x {
    float: left;
    line-height: 25px;
    margin: 20px 0;
    width: 55px;
}
.right_chul li.p_t span.comgood-x span {
    float: left;
}
em.score1_0 {
    background: transparent url("http://icon.zdnet.com.cn/cnetnews/120504/images/tb_sprite.gif") repeat scroll -72px -299px;
    display: inline-block;
    float: left;
    height: 20px;
    margin: 0 0 0 50px;
    vertical-align: middle;
    width: 88px;
}
em.score4_0 {
    background: transparent url("http://icon.zdnet.com.cn/cnetnews/120504/images/tb_sprite.gif") repeat scroll -18px -299px;
}
.right_chul li.p_t span.c-c {
    background: transparent url("http://icon.zdnet.com.cn/cnetnews/120504/images/com_ping_01.gif") repeat scroll 0 0;
    float: left;
    height: 14px;
    overflow: hidden;
    position: relative;
    width: 5px;
}
.right_chul li.p_t span.c-l {
    background: transparent url("http://icon.zdnet.com.cn/cnetnews/120504/images/com_ping_02.gif") repeat scroll 0 0;
    float: left;
    height: 14px;
    left: 0;
    position: absolute;
    width: 5px;
}
.right_chul li.p_t span.c-r {
    background: transparent url("http://icon.zdnet.com.cn/cnetnews/120504/images/com_ping_03.gif") repeat scroll 0 0;
    float: left;
    height: 14px;
    position: absolute;
    right: 0;
    width: 5px;
}
.bhs {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #fff none repeat scroll 0 0;
    border-color: -moz-use-text-color #f5f5f5 #f5f5f5;
    border-image: none;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    padding: 10px;
    width: 592px;
}
.bhs li {
    border-bottom: 1px dashed #f7f7f7;
    clear: both;
    color: #333333;
    display: inline-block;
    line-height: 30px;
    width: 100%;
}
.bhs li.para-t {
    color: #000000;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    padding-left: 5px;
    width: 592px;
}
.para-t span {
    float: left;
    height: 30px;
    margin-right: 10px;
    overflow: hidden;
}
.bhs li.para-t em {
    float: left;
    margin-top: 6px;
}
em.score5_0 {
    background: transparent url("http://icon.zdnet.com.cn/cnetnews/120504/images/tb_sprite.gif") repeat scroll 0 -299px;
}
.bhs li.para-t .para-r {
    color: #999999;
    float: right;
    text-align: left;
    width: 250px;
}
.bhs li dt {
    color: #999999;
    float: left;
    text-align: right;
    width: 45px;
}
.bhs li dd {
    float: left;
    width: 547px;
}
.tit_left {
    display: block;
    float: left;
    font-size: 16px;
    width: 150px;
}
.tit_right {
    display: block;
    float: right;
}
.tit_right a {
    color: #ff0000;
    font: 18px/1.5 Georgia,serif;
}
.tit_right a:hover {
    text-decoration: underline;
}
.changweibo {
    text-align: center;
}
.changweibo input {
    font: 14px/32px microsoft yahei;
    padding: 6px 20px;
}
.right_lisd {
    margin-bottom: 24px;
    width: 100%;
}
.right_lisd li {
    border-bottom: 1px dotted #c6c6c6;
    margin-bottom: 9px;
    overflow: hidden;
    padding-bottom: 9px;
    width: 300px;
}
.right_lisd li cite {
    color: #c23210;
    display: block;
    float: left;
    font-weight: bold;
    width: 20px;
}
.right_lisd li p {
    float: right;
    line-height: 1.5;
    width: 280px;
}
.right_lisd li p span {
    color: #878787;
    padding-left: 5px;
}
.right_lisd li p span a {
    color: #878787;
    padding-left: 5px;
}
.right_lisd li.end {
    border: 0 none;
}
.right_lisd li img {
    float: left;
    margin-right: 10px;
    vertical-align: bottom;
}
.right_ping {
    margin: 12px 0;
    width: 100%;
}
.right_ping li {
    float: left;
    height: 153px;
    overflow: hidden;
    padding-bottom: 12px;
    width: 140px;
}
.right_ping li p.right_dafen {
    padding-bottom: 5px;
}
.right_ping li.re {
    float: right;
}
.right_pin90g {
    padding-top: 16px;
    width: 100%;
}
.right_pin90g li {
    border-bottom: 1px dotted #c6c6c6;
    margin-bottom: 10px;
    padding: 0 0 10px;
    width: 100%;
}
.right_pin90g li a.thumb {
    display: block;
    float: left;
    margin-right: 12px;
}
.right_pin90g li p span {
    display: block;
    font: bold 16px/1.6 microsoft yahei,verdana;
    margin-bottom: 8px;
}
