.col2 a{
    color: rgba(0, 0, 0, 0.5);
    font-family: "Open Sans Bold" ;
    padding: 3px;
}
.col2 a:hover{
    color: rgba(0,0,0,1);
}
.limiter { 
    width:83.3333%;
    max-width:1000px;
    margin-left:auto;
    margin-right:auto;
}

.email{
    width: 500px;
    height: 300px;
    float: left;
    margin-top: 40px;
}


.col2    { float:left; width:20%; max-width:200px;margin-top: 40px;font-size: 1.2em; }
.col4    { float:left; width:33.3333%; max-width:400px; }
.col7    { float:left; width:58.3333%; max-width:700px; }
.col12   { width:100%; display:block; }

.space-bottom0 { margin-bottom:  5px;}
.space-bottom1 { margin-bottom: 10px;}
.pad2    { padding:20px; }
@media only screen and (max-width:900px) {
  .limiter {
    width: 100%;
    padding-left:20px;
    padding-right:20px;
  }
}

 

    .elegant-aero {
    margin-left:auto;
    margin-right:auto;
    max-width: 350px;
    background: #D2E9FF;
    font: 12px Arial, Helvetica, sans-serif;
    color: #666;
    }
    .elegant-aero h1 {
    font: 24px "Trebuchet MS", Arial, Helvetica, sans-serif;
    padding: 10px 0px 10px 20px;
    display: block;
    background: #C0E1FF;
    border-bottom: 1px solid #B8DDFF;
    margin: -20px 0px 15px;
    }
    .elegant-aero h1>span {
    display: block;
    font-size: 11px;
    }

    .elegant-aero label>span {
    float: left;
    margin-top: 10px;
    color: #5E5E5E;
    }
    .elegant-aero label {
    display: block;
    margin: 0px 0px 5px;
    }
    .elegant-aero label>span {
    float: left;
    width: 20%;
    text-align: right;
    padding-right: 15px;
    margin-top: 10px;
    font-weight: bold;
    }
    .elegant-aero input[type="text"], .elegant-aero input[type="email"], .elegant-aero textarea, .elegant-aero select {
    color: #888;
    width: 70%;
    padding: 0px 0px 0px 5px;
    border: 1px solid #C5E2FF;
    background: #FBFBFB;
    outline: 0;
    -webkit-box-shadow:inset 0px 1px 6px #ECF3F5;
    box-shadow: inset 0px 1px 6px #ECF3F5;
    font: 200 12px/25px Arial, Helvetica, sans-serif;
    height: 30px;
    line-height:15px;
    margin: 2px 6px 16px 0px;
    }
    .elegant-aero textarea{
    height:80px;
    padding: 5px 0px 0px 5px;
    width: 70%;
    }
    
    .elegant-aero .button{
    padding: 10px 30px 10px 30px;
    background: #66C1E4;
    border: none;
    color: #FFF;
    box-shadow: 1px 1px 1px #4C6E91;
    -webkit-box-shadow: 1px 1px 1px #4C6E91;
    -moz-box-shadow: 1px 1px 1px #4C6E91;
    text-shadow: 1px 1px 1px #5079A3;

    }
    .elegant-aero .button:hover{
    background: #3EB1DD;
    }

  

 
